<% @user ||= current_user %>
<div class="stats">
  <a href="<%= follow_user_path(@user, "following") %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= follow_user_path(@user, "followers") %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>